.blacklisted-form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
#blacklisted-url {
    width: 60%;
    height: 30px;
    border: 2px solid black;
    background-color: #e7e0e0;
    margin-right: 0;
}
.blacklist-submit-button {
    margin-left: 0;
    border-radius: 0 30px 30px 0;
    border: 2px solid black;
    border-left: none;
    background-color: #3f8846;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}
.blacklist-submit-button:hover {
    background-color: #224b26;
    color: white;
}

#blacklist-container {
    width: 100%;
}

.blacklist-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding: 0 10px;
}

.blacklist-item-delete {
    border: none;
    background-color: transparent;
    color: red;
    font-size: 20px;
    cursor: pointer;
}
.blacklist-item-delete:hover {
    color: #a80000;
    text-decoration: underline;
}

.blacklist-item-data {
    width: 100%;
}

.blacklist-item-date {
    opacity: 0.7;
    margin-top: 0.5rem;
}
.blacklist-item-content-url {
    margin-bottom: 0;
}

#user-list {
    width: 100%;
}

.user-data-field {
    color: black;
}
.user-info-admin-field {
    margin-bottom: 0;
    margin-top: 0;
}
.user-managment-buttons {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.user-managment-buttons button {
    background-color: #f01414;
    border: 2px solid #194af6;
    border-radius: 10px;
    padding: 5px;
}

.user-managment-header {
    display: flex;
    justify-content: center;
    width: 60%;
}
.user-managment-header form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.user-managment-header form input {
    width: 100%;
    height: 30px;
    border: 2px solid black;
    background-color: #e7e0e0;
    margin-right: 0;
}

.user-managment-header form button {
    margin-left: 0;
    border-radius: 0 30px 30px 0;
    border: 2px solid black;
    border-left: none;
    background-color: #3f8846;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
